<div class="nav-client-printer">
  <%= link_to image_tag(("Printed.png"), :class => "img-logo-printer"), root_path %>
</div>
<div class="container">

  <h1>Browse demands around you</h1>
    <div class="map-card">
      <div style="width: 100%; height: 40vh;"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @demands_markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>


  <h2>Demands</h2>
  <div class="cards-demand container">
    <% @demands.each do |demand| %>
      <%= link_to demand_path(demand), :action => 'go' do %>
        <div class="card-index-demand">
            <%= cl_image_tag demand.product.photo.key, class: "img-card-product", alt: "Product Pic" %>
            <div class="card-index-infos">
              <h3><%="#{demand.product.name}" %></h3>
              <p><%="by:  #{demand.client.first_name}" %></p>
              <% demand.client.rating_as_client.times do %>
                <span class="fa fa-star checked"></span>
              <% end %>
              <% (5 - demand.client.rating_as_client).times do %>
                <span class="fa fa-star"></span>
              <% end %>
              <p><%="#{demand.comment}" %></p>
            </div>
            <div class="card-index-price">
              <%= "#{demand.proposed_price}€" %>
            </div>
        </div>
      <% end %>
    <% end %>
    </div>
</div>
<br>
<br>
<br>
