<div class="nav-client-printer">
  <%= link_to image_tag(("Printed.png"), :class => "img-logo-printer"), root_path %>
</div>
<br>
<div class="card-offer">

  <div class="text-center mt-4">
    <%= cl_image_tag @demand.product.photo.key, class: "img-show", alt: "Product Pic" %>
  </div>

  <div class="info-d-show">
    <h2><%= @demand.product.name %></h2>
    <p><i class="fa-solid fa-arrow-right"></i> <i><%= @demand.product.description %></i></p>
    <p class="font-d-show">By : <%= @demand.client.first_name  %></p>
    <i class="fa-solid fa-quote-left fa-2xs"></i><i class="comment-style"><%= @demand.comment  %></i><i class="fa-solid fa-quote-right fa-2xs"></i>
    <p class="price-d-show"><%= @demand.client.first_name %> proposed : <%= @demand.proposed_price  %> €</p>
  </div>
</div>

<div class="btnMakeOffer">
  <%= link_to "Make an offer", new_demand_offer_path(@demand), class:"create"%>
</div>
