<div class="nav-client-printer">
  <%= link_to image_tag(("Printed.png"), :class => "img-logo-printer"), root_path %>
</div>
<br>
<h5 class="text-center">Your demand :</h5>
<div class="card-offer">

  <div class="text-center mt-4">
    <%= cl_image_tag @demand.product.photo.key, class: "img-show", alt: "Product Pic" %>
  </div>

  <div class="mt-4">
    <h2><%= @demand.product.name %></h2>
    <p><strong>Product description</strong> : <%= @demand.product.description %></p>
    <p class="fw-light">Client: <%= @demand.client.first_name  %></p>
    <p class="fw-light">Comment: <%= @demand.comment  %></p>
    <p class="fw-bold">Client Price: <%= @demand.proposed_price  %> €</p>
  </div>
</div>

<div class="btnMakeOffer">
  <%= link_to "Make an offer", new_demand_offer_path(@demand), class:"create"%>
</div>
