<br>
<h1>Show demand</h1>
<div class="card_offer">

  <p class="text-center mt-4">
  <%=image_tag"dyson.png", height: 216, width: 296, crop: :fill %>
  </p>

  <div class="mt-4">
    <h2><%= @demand.product.name %></h2>
    <p><strong>Description</strong> : <%= @demand.product.description %></p>
    <p class="fw-light">Demand by: <%= @demand.client.first_name  %></p>
    <p class="fw-light">Comment: <%= @demand.comment  %></p>
    <p class="fw-bold">Client Price: <%= @demand.proposed_price  %> €</p>
  </div>
</div>

<div class="btnMakeOffer">
  <%= link_to "Make an offer", new_demand_offer_path(@demand), class:"create"%>
</div>
