<div class="wrapper">
  <a href="#" class="notification">
  <span class="badge">1</span>
  </a>
<%# <p><%= current_user.picture %>
  <div class="user-wrapper">
    <div class="img-wrapper">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSh-J04gXCOsTHzwjH5Ay2IWfnWBzFfBlP0sg&usqp=CAU" alt="" class="img-user">
    </div>
    <div class="username-block">
      <span><%= current_user.first_name.upcase %></span>
      <span><%= current_user.last_name.upcase %></span>
    </div>
    <div class="buttons-wrapper">
      <div class="demands-count">
        <p>Demands : <%= current_user.demands_as_client.count %></p>
      </div>
      <div class="offers-count">
        <p>Offers : <%= current_user.offers_as_printer.count %></p>
      </div>
    </div>
  </div>

  <h2>Your demands list :</h2>
  <div class="demands-wrapper">
      <% current_user.demands_as_client.each do |demand| %>
      <div class="username">
        <p><%= current_user.first_name %></p>
        <p><%= current_user.last_name %></p>
      </div>
      <p><%= demand.proposed_price %></p>
      <p><%= demand.comment %></p>
      <% end %>
  </div>

  <h2>Your pending offers :</h2>
  <div class="offers-wrapper">
      <% current_user.offers_as_printer.each do |offer| %></p>
      <p><%= offer.demand.client.first_name %></p>
      <p><%= offer.demand.client.last_name %></p>
      <p><%= offer.price %></p>
      <p><%= offer.status %></p>
      <% end %>
  </div>

  <h2>Your offers accepted by Users :</h2>


</div>
