<% if user_signed_in? && current_user.printer %>
  <%= render 'shared/navbar2' %>
<% else %>
  <%= render 'shared/navbar1' %>
<% end %>

<div class="wrapper">
  <div class="user-wrapper">
    <div class="img-wrapper">
    <% if current_user.pp.valid? %>
      <%= cl_image_tag current_user.pp.key, class: "img-user", alt: "Profile Picture" %>
    <% else %>
      <%= image_tag"profile-pic.jpg", :class => "img-user", alt: "Profile Picture" %>
    <% end %>

    </div>
    <div class="username-block">
      <span><%= current_user.first_name.upcase %></span>
      <span><%= current_user.last_name.upcase %></span>
    <div class="user-infos">
      <span> Specialty : video </span>
    </div>
    </div>
    <div class="buttons-wrapper">
      <div class="demands-count">
        <p>Demands : <%= current_user.demands_as_client.count %></p>
      </div>
      <div class="offers-count">
        <p>Offers : <%= current_user.offers_as_printer.count %></p>
      </div>
    </div>
  </div>

  <div class="edit-user">
    <%= link_to "Edit your Profile", edit_user_registration_path, class: "devise-btn" %>
    <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "devise-btn" %>
  </div>


  <h2>Your demands list :</h2>
  <div class="demands-wrapper">
      <% current_user.demands_as_client.each do |demand| %>
        <%= link_to demand_path(demand), :action => 'go' do %>
    <div class="demand-card">
      <div class="demand-infos">
        <p><strong>Name : </strong><%= current_user.first_name %> <%= current_user.last_name %></p>
        <p><strong>Price : </strong><%= demand.proposed_price %> €</p>
        <p><strong>Date de publication :</strong><%=demand.publication_date%></p>
      </div>
      <img src="https://cdn.thingiverse.com/renders/d3/bb/87/6f/da/9456539fa8191e7e71a01dd18c2afe4d_preview_card.jpg" alt="">
    </div>
        <% end %>
      <% end %>
  </div>

  <h2>Your pending offers :</h2>
  <div class="offers-wrapper">
      <% current_user.offers_as_printer.each do |offer| %></p>
          <div class="offer-card">
          <div class="offer-infos">
          <p><strong>Name : </strong><%= offer.demand.client.first_name %><%= offer.demand.client.last_name %></p>
          <p><strong>Price : </strong><%= offer.price %> €</p>
            <% if offer.status == 1 %>
              <p><strong>Status :</strong> Pending</p>
            <% elsif offer.status == 2 %>
              <p><strong>Status :</strong> Accepted</p>
            <% else %>
              <p><strong>Status :</strong> Rejected</p>
            <% end %>
          </div>
        <img src="https://cdn.thingiverse.com/renders/d3/bb/87/6f/da/9456539fa8191e7e71a01dd18c2afe4d_preview_card.jpg" alt="">
          </div>
        <% end %>
  </div>
  <%# <h2>Your offers accepted by Users :</h2> %>
</div>
<br>
<br>
