<div class="nav-client">
  <%= link_to image_tag(("print3d.PNG"), :class => "img-logo"), root_path %>
</div>

<br>

<div class="wrapper">
  <div class="card-show">
  <%# NE PAS EFFACER %>
  <%# , height: 216, width: 296, crop: :fill %>
    <%= cl_image_tag product.photo.key, class: "img-card-product", alt: "Product Pic" %>
    <div class="card-show-infos">
      <div>
        <h2><%=@product.name%></h2>
        <p><%=@product.description%></p>
      </div>
    </div>
  </div>
      <%# <h2 class="card-show-pricing">£99.99</h2> %>
  <%# <i><%= @product.file3d </i>%>
  <%# <i><%= link_to "Make a Print Demand", to: "/demands/:id/new" </i> %>

<br>

<div class="call-to-action">
  <h5>You like this item ?</h5>
  <h5>Make it print !</h5>
  <i class="fa-solid fa-file-arrow-down"></i>
</div>

<br>






  <!-- Le Form demand/new est en bas de page -->

  <%= simple_form_for [@product, @demand] do |f| %>
    <%= f.input :proposed_price, as: :integer %>
    <%= f.input :comment, as: :text %>
    <%= f.submit %>
  <% end %>
</div>
<br>
<br>
<br>
